@model Web.Entidades.BlogArticulo

@{
    ViewBag.Title = "Agregar Nuevo Artículo";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center font-weight-bold">Registrar Artículo</h2>

    @using (Html.BeginForm("Insertar", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label for="titulo">Título</label>
            @Html.TextBoxFor(model => model.titulo, new { @class = "form-control", @placeholder = "Título" })
        </div>
        <div class="form-group">
            <label for="resumen">Resumen</label>
            @Html.TextAreaFor(model => model.resumen, new { @class = "form-control", @placeholder = "Resumen" })
        </div>
        <div class="form-group">
            <label for="contenido">Contenido</label>
            @Html.TextAreaFor(model => model.contenido, new { @class = "form-control", @placeholder = "Contenido" })
        </div>
        <div class="form-group">
            <label for="imagen">Imagen</label>
            <input type="file" name="ImagenBlog" class="form-control-file" />
        </div>
        <div class="text-right">
            <button type="submit" class="primary-btn">Guardar</button>
            <a href="@Url.Action("Blog", "Blog")" class="primary-btn">Cancelar</a>
        </div>
    }
</div>

