@model Web.Entidades.PoliticaDevolucion

@{
    ViewBag.Title = "Editar Política de Devolución";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center font-weight-bold">Editar Política de Devolución</h2>
    <h3 class="text-center text-muted">Modifica los datos de la política de devolución seleccionada.</h3>

    @using (Html.BeginForm("Editar", "PoliticaDevolucion", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            <label for="titulo_seccion">Título de la Sección</label>
            @Html.TextBoxFor(model => model.titulo_seccion, new { @class = "form-control", @placeholder = "Ingrese el título de la sección" })
        </div>

        <div class="form-group">
            <label for="contenido">Contenido</label>
            @Html.TextAreaFor(model => model.contenido, new { @class = "form-control", @placeholder = "Ingrese el contenido de la política de devolución", @rows = "5" })
        </div>

        <div class="text-right">
            <button type="submit" class="primary-btn">Guardar Cambios</button>
            <a href="@Url.Action("PoliticaDevolucion", "PoliticaDevolucion")" class="primary-btn">Cancelar</a>
        </div>
    }
</div>
