
@model Web.Entidades.AvisoPrivacidad

@{
    ViewBag.Title = "Editar Aviso de Privacidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center font-weight-bold">Editar Aviso de Privacidad</h2>

    @using (Html.BeginForm("Editar", "AvisoPrivacidad", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.id)
        <div class="form-group">
            <label for="titulo_seccion">Título</label>
            @Html.TextBoxFor(model => model.titulo_seccion, new { @class = "form-control", @placeholder = "Título" })
        </div>
        <div class="form-group">
            <label for="contenido">Contenido</label>
            @Html.TextAreaFor(model => model.contenido, new { @class = "form-control", @placeholder = "Contenido" })
        </div>
        <div class="text-right">
            <button type="submit" class="primary-btn">Actualizar</button>
            <a href="@Url.Action("AvisoPrivacidad", "AvisoPrivacidad")" class="primary-btn">Cancelar</a>
        </div>
    }
</div>
